<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title> Orange </title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/chosen.min.css">
    <link rel="stylesheet" type="text/css" href="/css/chosen-bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax/shCore.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax/shThemeDefault.css"/>
    <link rel="stylesheet" type="text/css" href="/css/pnotify.custom.min.css" media="all"/>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/moment.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="/js/syntax/shCore.js"></script>
    <script type="text/javascript" src="/js/syntax/shBrushCpp.js"></script>
    <script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="/js/pnotify.custom.min.js"></script>

    <script>
        $(document).ready(function ($) {

            <% for msg in @flash : %>
            new PNotify({
                styling: "bootstrap3",
                text: '<%- msg.message %>',
                type: '<%- msg.type %>'
            });
            <% end %>

        });
    </script>
</head>