<% extend 'layouts/admin' %>

<% block 'title' : %> <h1> Администрирование </h1> <% end %>

<% block 'content' : %>
<div class="row">
    Здесь будет статистика и еще какая-нибудь интересность.
</div>
<% end %>
