<% extend 'layouts/admin' %>

<% block 'title' : %>
<h1> Редактировать задачу </h1>
<% end %>

<% block 'content' : %>

<form id="new-problem-form" class="form-horizontal" enctype="multipart/form-data" method="POST" action="/admin/problems<%- ( '/' + @problem.getId() ) if @problem? %>">

    <div class="form-group">
        <label for="problem-name" class="col-md-2 control-label"> Название задачи </label>
        <div class="col-md-4">
            <input name="name" id="problem-name" class="problem-name form-control" type="text" placeholder="Имя задачи..." value="<%- @problem?.name %>">
        </div>
    </div>

    <div class="form-group">
        <label for="iofilename" class="col-md-2 control-label"> Имя файла </label>
        <div class="col-md-4">
            <div class="input-group">
            <input id="iofilename" name="iofilename" class="i-file form-control" type="text" placeholder="problem1" value="<%- @problem?.iofilename %>">
                <div class="input-group-addon">.in / .out</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="time-limit" class="col-md-2 control-label"> Лимит выполнения </label>
        <div class="col-md-2">
            <div class="input-group">
                <input name="timeLimit" id="time-limit" class="time-limit form-control" type="text" placeholder="Время..." value="<%- @problem?.timeLimit %>">
                <div class="input-group-addon">с</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="memory-limit" class="col-md-2 control-label"> Лимит памяти </label>
        <div class="col-md-3">
            <div class="input-group">
            <input name="memoryLimit" id="memory-limit" class="memory-limit form-control" type="text" placeholder="Память..." value="<%- @problem?.memoryLimit %>">
                <div class="input-group-addon">Мбайт</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="problem-text" class="control-label col-md-2">Текст задачи</label>
        <div class="col-md-9">
            <textarea id="problem-text" class="problem-text form-control" name="text" style="">
                <%- @problem?.text %>
            </textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="true" name="active" <%= 'checked' if @problem?.active %> > Опубликовать задачу
                </label>
            </div>
        </div>
    </div>


    <div class="form-group">
        <label class="col-md-2 control-label"> Тесты </label>
        <div class="col-md-5">
            <input name="tests" type="file">
        </div>
    </div>

    <input type="hidden" name="id" value="<%- @problem?.getId() %>">

    <div class="form-group">
        <div class="">
            <button class="btn btn-primary btn-block" type="submit"> <%- if @problem then 'Обновить' else 'Создать' %> задачу </button>
        </div>
    </div>

</form>

<!-- Превьюшка -->

<!--Сделать предпросмотр-->
<!--<div id="preview" style="text-align: center" class="col-md-offset1 col-md-10">-->
    <!--<h2 class="problem-name"><%- @problem?.name %></h2>-->
    <!--<div>-->
        <!--Входной файл: <span class="i-file"><%- @problem?.iofilename %></span>.in<br>-->
        <!--Выходной файл: <span class="o-file"><%- @problem?.iofilename %></span>.out<br>-->
        <!--Ограничение по времени: <span class="time-limit"><%- @problem?.timeLimit %></span> секунды<br>-->
        <!--Ограничение по памяти: <span class="memory-limit"><%- @problem?.memoryLimit %></span> мегабайт<br>-->
    <!--</div>-->
    <!--<div class="problem-text" style="text-align: left;"></div>-->
<!--</div>-->
<!-- Конец превьюшки -->

<!--<div class="col-md-offset1 col-md-10"><br><button id="renew-preview" class="btn btn-primary" type="button">Обновить =)</button></div>-->
<% end %>

