<% extend 'layouts/admin' %>

<% block 'title' : %> <h1> Задачи </h1> <% end %>

<% block 'content' : %>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-condensed col-md-10">
            <tr>
                <td> № </td>
                <td> Задача </td>
                <% if ( @user && @user.admin ) : %>
                <td> Редактировать </td>
                <td> Опубликована </td>
                <% end %>
            </tr>
            <% for problem, i in @problems : %>
            <tr>
                <td><%= i+1 %> </td>
                <td><a href="<%- '/problems/'+problem.id %>" itemprop="url"> <%= problem.name %> </a></td>
                <td> <a href="/admin/problems/<%= problem.id %>/edit" class="btn btn-default" ><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td>
                    <a href="/admin/problems/<%= problem.id %>/<%- if problem.isActive() then 'unpublish' else 'publish' %>" class="btn btn-default" >
                        <span class="glyphicon glyphicon-<%- if problem.isActive() then 'ok' else 'remove' %>"></span>
                    </a>
                </td>
            </tr>
            <% end %>
        </table>
    </div>
    <div class="col-md-12">
        <a href="/admin/problems/new" class="btn btn-primary btn-block">Добавить задачу</a>
    </div>
</div>
<% end %>