<% extend 'layouts/cabinet' %>

<% block 'title' : %> <h1> Личный кабинет </h1> <% end %>

<% block 'content' : %>
<div class="row">
    Здесь очень скоро будет статистика и вкусняшки.
</div>
<% end %>
