<% extend 'layouts/admin' %>

<% block 'title' : %>
<h1> Редактировать новость </h1>
<% end %>

<% block 'content' : %>

<form id="new-post-form" class="form-horizontal" enctype="multipart/form-data" method="POST" action="/admin/posts<%- ( '/' + @post.getId() ) if @post? %>">

    <div class="form-group">
        <label for="post-title" class="col-md-2 control-label"> Заголовок новости </label>
        <div class="col-md-4">
            <input name="title" id="post-title" class="post-name form-control" type="text" placeholder="Заголовок новости" value="<%- @post?.title %>">
        </div>
    </div>

    <div class="form-group">
        <label for="post-text" class="control-label col-md-2"> <%- @__('Текст новости') %> </label>
        <div class="col-md-9">
            <textarea id="post-text" class="post-text form-control" name="text" style="">
                <%- @post?.text %>
            </textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="true" name="active" <%= 'checked' if @post?.active %> > Опубликовать новость
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="">
            <button class="btn btn-primary btn-block" type="submit"> <%- if @post then 'Обновить' else 'Создать' %> новость </button>
        </div>
    </div>

</form>

<% end %>

