<% extend 'layouts/default' %>

<% block 'title' : %> <h1> Задачи </h1> <% end %>

<% block 'content' : %>
  <table class="table table-striped table-condensed col-md-9">
    <tr>
      <td> № </td>
      <td> Задача </td>
    </tr>
    <% for problem, i in @problems : %>
      <tr>
        <td><%= i+1 %> </td>
        <td><a href="<%- '/problems/' + problem.getId() %>" itemprop="url"> <%= problem.getName() %> </a></td>
      </tr>
    <% end %>
  </table>
<% end %>