<% extend 'layouts/default' %>

<% block 'content' : %>
<!-- Задача -->
<div class="row">
    <div id="preview" style="text-align: center" class="col-md-10 col-md-offset-1">
        <h1 class="problem-name"><%= @problem.getName() %> </h1>
        <div>
            Входной файл: <span class="i-file"><%= @problem.getIOFilename() %></span>.in<br>
            Выходной файл: <span class="o-file"><%= @problem.getIOFilename() %></span>.out<br>
            Ограничение по времени: <span class="time-limit"><%= @problem.getTimeLimit() %></span> секунды<br>
            Ограничение по памяти: <span class="memory-limit"><%= @problem.getMemoryLimit() %></span> мегабайт<br>
        </div>
        <div class="problem-text" style="text-align: left;"><%- @problem.getText() %></div>
    </div>
</div>
<!-- Конец задачи -->

<!-- Предложить решение -->
<div class="row">
    <% if @user : %>
    <form enctype="multipart/form-data" method="POST" action="/problems/<%- @problem.getId() %>/check" class="form-horizontal col-lg-offset-1 col-md-10">

        <div class="form-group">
            <label class="col-md-2 control-label"> Исходный код </label>
            <div class="col-md-5">
                <input name="source" type="file" required>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit"> Предложить решение </button>
        </div>

    </form>
    <% else : %>
        <p class="text-info"> Для отправки решения войдите в систему. </p>
    <% end %>
</div>
<!-- Конец предложить решение -->

<% if @attempts and @attempts.length : %>
<!-- Попытки -->
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <p class="text-info"> Ваши попытки </p>
        <table id="table-attempts" class="table table-bordered table-condensed">
            <tr>
                <td> № </td>
                <td> Когда </td>
                <td> Ответ </td>
                <td> Код </td>
            </tr>
            <% for attempt, i in @attempts : %>
            <%
            rowStyle = switch attempt.ans
                when 1 then 'success'
                when 3 then 'info'
                when 2, 6 then 'danger'
                when 4, 5 then 'warning'
                when 7, 5 then 'danger'

            textAns = switch attempt.ans
                when 1 then 'Accepted'
                when 2 then 'Wrong answer'
                when 3 then 'Time Limit'
                when 4 then 'Presentation error'
                when 5 then 'Compilation error'
                when 6 then 'Runtime error'
                when 7 then 'System error'
            %>
            <tr class="<%= rowStyle %>">
                <td><%= i+1 %> <span class="visibility: hidden"><%= attempt.id %></span></td>
                <td><%= @moment(attempt.dateCreated).format('DD.MM.YYYY HH:mm:ss') %> </td>
                <td><%- textAns + (if attempt.ans != 1 then @__(' на тесте ') + attempt.test else '' ) %> </td>
                <td> <button class="btn btn-show-source"><%- @__('Подробно') %></button> </td>
            </tr>
            <tr style="display: none;">
                <td class="source-cell" colspan="6">
                <pre class="brush: cpp">
                    <%- attempt.source.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;') %>
                </pre>
                </td>
            </tr>
            <% end %>
        </table>
    </div>
</div>
<!-- Конец попытки -->
<% end %>

<% end %>
