<div>
    <div>
        Здравствуйте, <%= @user.lname + ' ' + @user.fname %>. <br>
        Вы зарегистрировались на контест, который пройдет <%= @moment(@contest.start).format('DD.MM.YYYY') %> в <%= @moment(@contest.start).format('HH:mm') %>. <br>
        Желаем удачи!
    </div>
</div>
