<div>
    <div>
        Здравствуйте, <%= @user.lname + ' ' + @user.fname %>. <br>
        Вы зарегистрировались в системe проверки олимпиадных задач. <br>
        Будем рады быть Вам полезными.
    </div>
    <br>
    <div>
        Параметры Вашей учётной записи таковы: <br>
        ---------------------------- <br>
        Логин: <%- @user.email %> <br>
        Пароль: <%- @user.pass %> <br>
        ----------------------------
    </div>
</div>
