<% extend 'layouts/default' %>

<% block 'content' : %>

        <div class="row">
            <div class="col-md-7 col-md-offset-1">

                <% for post, i in @posts : %>

                <div class="row">
                    <div class="col-md-12">

                        <h2><%- post.getTitle() %></h2>

                        <small><%- @moment(post.dateCreated).format('DD MMMM YYYY в HH:mm') %></small>

                        <p><%- post.getText() %></p>

                        <a href="/posts/<%- post.getId() %>" class="btn btn-default"><%- @__('Подробнее') %> →</a>

                    </div>
                </div>
                <% end %>

            </div>

            <div class="col-md-3">

                <h3>Соревнования</h3>
                <hr>

                <% for contest, i in @contests : %>

                    <h4><%- contest.getName() %> </h4>

                    <% if @moment(contest.getStart()).valueOf() > Date.now() : %>

                        <p>Старт через: <span data-countdown="<%- @moment(contest.getStart()).format('YYYY/MM/DD HH:mm:ss') %>"></span></p>

                        <% self = @ %>
                        <% if @user and @_.find(contest.users, (id) -> String(id) == self.user.getId()) : %>

                            <a class="btn btn-primary btn-block disabled"><%- @__('Войти') %></a>

                        <% else : %>

                            <a href="/contests/<%- contest.getId() %>/register" class="btn btn-primary btn-block"><%- @__('Зарегистрироваться на контест') %></a>

                        <% end %>

                    <% else : %>

                        <p>Завершится через: <span data-countdown="<%- @moment(contest.getEnd()).format('YYYY/MM/DD HH:mm:ss') %>"></span></p>

                        <% self = @ %>
                        <% if @user and @_.find(contest.users, (id) -> String(id) == self.user.getId()) : %>

                            <a href="/contests/<%- contest.getId() %>" class="btn btn-primary btn-block"><%- @__('Войти') %></a>

                        <% else : %>

                            <a href="/contests/<%- contest.getId() %>/register" class="btn btn-primary btn-block"><%- @__('Зарегистрироваться на контест') %></a>

                        <% end %>

                    <% end %>

                <% end %>

            </div>

        </div>

<% end %>
