<% extend 'layouts/admin' %>

<% block 'title' : %> <h1> Пользователи </h1> <% end %>

<% block 'content' : %>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-condensed col-md-10">
            <tr>
                <td> № </td>
                <td> Пользователь </td>
                <% if ( @user && @user.admin ) : %>
                <td> <%- @__('Редактировать') %> </td>
                <td> <%- @__('Активен') %> </td>
                <% end %>
            </tr>
            <% for user, i in @users : %>
            <tr>
                <td><%= i+1 %> </td>
                <td><%= user.getFullName() %></td>
                <td> <a href="/admin/users/<%= user.id %>/edit" class="btn btn-default" ><span class="glyphicon glyphicon-pencil"></span></a></td>
                <td>
                    <a href="/admin/users/<%= user.getId() %>/<%- if user.isActive() then 'unpublish' else 'publish' %>" class="btn btn-default" >
                        <span class="glyphicon glyphicon-<%- if user.isActive() then 'ok' else 'remove' %>"></span>
                    </a>
                </td>
            </tr>
            <% end %>
        </table>
    </div>
    <div class="col-md-12">
        <a href="/admin/users/new" class="btn btn-primary btn-block"><%- @__('Добавить пользователя') %></a>
    </div>
</div>
<% end %>