<% extend 'layouts/default' %>

<% block 'content' : %>
<div class="row">

    <form class="form-horizontal col-md-offset-4 col-md-4" method="POST" action="/register">
        <h2> Регистрация </h2>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Имя" name="fname" required>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Фамилия" name="lname" required>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Факультет, группа" name="group" required>
        </div>

        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" name="email" required>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" placeholder="Пароль" name="pass" required>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit"> Зарегистрироваться </button>
        </div>
    </form>

</div>

<% end %>

