<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml'>
<% include 'includes/head.ect' %>
<body>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <% include 'includes/header.ect' %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <% content 'title' %>
        </div>
    </div>

    <div class="row">

        <div class="col-md-2">
            <nav>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="/admin/problems"><%- @__('Задачи') %></a></li>
                    <li><a href="/admin/contests"><%- @__('Соревнования') %></a></li>
                    <li><a href="/admin/posts"><%- @__('Новости') %></a></li>
                    <li><a href="/admin/users"><%- @__('Пользователи') %></a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-10">
            <% content 'content' %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <% include 'includes/footer.ect' %>
        </div>
    </div>

</div>
</body>
</html>