<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml'>
  <% include 'includes/head.ect' %>
  <body>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <% include 'includes/header.ect' %>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <% content 'title' %>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <% content 'content' %>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <% include 'includes/footer.ect' %>
            </div>
        </div>

    </div>
  </body>
</html>